language: php

php:
  - '7.3'

services:
  - docker

env:
  - IFX_VERSION=12.10.FC12W1DE PDO_VERSION=1.3.3

sudo: true

before_install:
  # Update Docker
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

  # Run the Informix docker image
  - docker network create testnetwork
  - docker run -td --network=testnetwork --name ifx -v informix:/opt/ibm/informix --privileged -p 9088:9088 -e "LICENSE=accept" -e "DB_LOCALE=en_US.utf8" -e "CLIENT_LOCALE=en_US.utf8" -e "DBMONEY=Y4MD-" -e "DBDELIMITER='|'" ibmcom/informix-developer-database:${IFX_VERSION}

  # Use takis to wait until the Informix DB initialization has finished
  - docker run --network=testnetwork -e CHECK_PORT=27017 -e CHECK_HOST=ifx giorgos/takis
  - docker logs ifx
  - docker ps -a

  # Run the post-install script to add the sbspace and the test DB
  - docker cp ${TRAVIS_BUILD_DIR}/post-install.sh ifx:/home/informix/post-install.sh
  - docker exec -u root ifx bash -c "chmod +x /home/informix/post-install.sh"
  - docker exec ifx bash -c "/home/informix/post-install.sh"

  # Copy the required Informix libraries for the PDO extension into the host
  - docker cp ifx:/opt/ibm/informix /opt/ibm/informix
  - export INFORMIXDIR=/opt/ibm/informix

  # Compile and enable the Informix PDO extension
  - mkdir pdo_informix
  - (cd pdo_informix/; wget https://pecl.php.net/get/PDO_INFORMIX-${PDO_VERSION}.tgz -O pdo_informix.tgz && tar -xvf pdo_informix.tgz --strip 1)
  - (cd pdo_informix/; phpize && ./configure --with-pdo-informix=${INFORMIXDIR} && make && sudo make install)
  - echo "extension=pdo_informix.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - php -m | grep -i pdo
  - php -r "echo phpversion('pdo_informixp');"

script:
  - php dbConnectionTest.php
